

fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

#contact {
    margin: 0 0 20px 0;
    padding: 0;
    border: 1px solid #ddd;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    list-style: none
}
#contact ul {

}
#contact li {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    display: inline-block
}
#contact ul li a {
    text-decoration: none;
    background-color: transparent;
}