body{
    padding: 0px;
    margin: 0px;
}
#header{
	min-height: 0px;
	background: #FFFFFF;
	border-bottom: 1px solid #E5E5E5;
	margin: 0;
	padding: 0;
}
a {
    color: #1e91cf;
    text-decoration: none;
}
label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
    font-weight: normal;
}
.login_box{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
    width: 370px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #ddd;
}
.heading {
    background: #fcfcfc none repeat scroll 0 0;
    border-color: #e8e8e8;
    color: #595959;
    padding: 10px 15px;
}
.heading i {
    font-size: 16px;
    font-weight: 500;
}
.upr_title {
    color: inherit;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
}
.clear{clear:both;}
.mid-body {
    padding: 15px;
}
.form-input {
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
}
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}
.input-icon {
    background-color: #eee;
    border: 1px solid #ccc;
    color: #555;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    padding: 8px 13px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
    display: table-cell;
    border-radius: 3px 0px 0px 3px;
}
.form-in {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 12px;
    height: 15px;
    line-height: 1.42857;
    padding: 8px 13px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 90%;
    border-radius: 0 3px 3px 0;
}
.btn {
    background-color: #1e91cf;
    border-color: #1978ab;
    color: #fff;

    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 8px 13px;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
 .foot {
    /*min-height: 400px;*/

    text-align: center;
    margin-top: 3%;

}
/*ADD-CATEGORY*/

form {
    margin-left: 5%;
}


.submit_form input[type=submit] {
    background-color: rgb(32,149,193);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 80%;
    margin: auto;
}
.submit_title{border-bottom: 1px solid #ddd;  clear: both;  display: block; margin: 0 0 20px; padding: 20px 0;  }
.submit_from_section{display: block; padding-bottom: 10px;}
.submit_from_section label{width: 150px; display: inline-block; color: #303030; vertical-align: top; }
.submit_from_section input[type=text],  input[type=email], select, textarea {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: -6px;
    margin-bottom: 16px;
    margin-left: 5%;
    resize: vertical;
    background: #fff;
}
.submit_from_section span{display: inline-block; font-size: 12px; color: red; padding: 10px 3px;  vertical-align: top;}
.photo_box{padding-bottom: 30px;}
.red{color: red; vertical-align: top; display: inline-block;}
.clear {
    clear: both;
}

/*ADD-END*/

/*Dashboard*/

#container {
    min-height: 100%;
    position: relative;
    width: 100%;
    display: block;
    margin: 70px 0px 0px;
    min-height: 500px;
}
header a
a {
    color: #1e91cf;
    text-decoration: none;
    background-color: transparent;
}


.dropdown {
    position: relative;
}
.icon-bar {
    background-color: #555;
    display: block;
    float: left;
    min-height: 500px;
    position: fixed;
    width: 16%;
}

.icon-bar a {
    color: white;
    display: block;
    font-size: 16px;
    padding: 16px;
    text-align: left;
    transition: all 0.3s ease 0s;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #1e91cf !important;
}
/**/
.contact_box {
    float: right;
    padding: 10px;
    width: 82%;
    display: block;
    min-height: 445px;
}
.deshboard_head{background: #eee; display: block;  padding: 10px;    position: fixed;    top: 0;vertical-align: top;width: 100%; z-index: 999;}
.deshboard_head ul{float: right; width: 30%; display: block; padding-right: 25px; list-style: none; text-align: right;}
.deshboard_head ul li{list-style: none; display: inline-block; padding: 0px 10px;}
.deshboard_head ul li a{display: block; color: #000; font-size: 14px;text-decoration:none;}
.deshboard_head ul li a:hover{text-decoration:none;color: #1e91cf; }
.header-box {width: 100%; display: block; box-sizing: border-box; }
.header-box ul{width: 25%; list-style: none; width: 100%; display: block;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
.header-box ul li {list-style: none; width: 30%; display: inline-block; margin-right:3%; background-color: #1e91cf; color: white; }
.upper-section{
    background-color: #1e91cf;
    color: #fff;
    padding: 0px 14px;
    text-transform: uppercase;
}
.mid-section{
    color: #ffffff;
    line-height: 48px;
    padding: 15px;
}

.header-box .mid-section i{
    font-size: 50px;
    opacity: 0.3;
    transition: all 1s ease 0s;
}
.lower-section{
    background-color: #3da9e3;
    padding: 5px 8px;
    box-sizing: border-box;
}
.lower-section h5{padding: 0px; margin: 0px; }
.lower-section h5 a{display: block; color: #FFFFFF;font-size: 14px; font-weight: normal;}
.count-section{float: right;}
/*header-section*/
.upper-head-section{width: 100%; display: block; clear: both;}
.upper-head-section h3 {float: left; width: 50%; display: block;}
.upper-head-section .add{float: right; width: 10%; display: block; text-decoration: none; font-size: 24px; padding-top: 19px;}

/*tables*/

.dashboard-category-tables {margin: auto; display: block; border-collapse:collapse;}
.dashboard-category-tables thead{width: 100%; background-color: #f3f3f3;}
.dashboard-category-tables tr{   }
.dashboard-category-tables tr td{  width:1%; padding: 10px; border: 1px solid #ddd; text-align: center; }
.dashboard-category-tables tbody tr{border-collapse: collapse; }
.dashboard-category-tables tr td .fa{font-size: 22px; padding-right: 10px;}
/*user*/

footer{
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: #555;
    color: white;
}